/*
Project 3
Document Name: proj3.css
Author: Yu Lin
Date Created: 10/20/2017
Date Updated: 10/23/2017 - Fixed CSS and JS
Description: This is NYIT's Fall 17' ITEC 320 project 3.
The purpose is to make an art gallery webpage. The webpage will include javascript.
On the top of the page, a form where user types in the artists group and last show date, which will display how many days before the event.
On the center, list of artists and descriptions about it.
On the bottom, footer with mailto element.
*/

body {
    background: #99FFFF;
    width: 500px;
    margin: auto;
    margin-top: 10px;
    border: 5px double #0000FF;
    width: 700px;
    height: 600px;
}

label {
    display: inline-block;
    margin-left: 30px;
    float: left;
    width: 150px;
}

input {
    display: inline-block;
    margin-left: 30px;
    width: 40%;
}

h1 {
    margin-left: 30px;
    width: 700px
}

#footer {
    position: center;
    margin: auto;
    margin-top: 20px;
    padding: 5px;
    background: #00FF00;
    width: 600px;
    height: 35px;
    font-size: 13px;
}

table {
    position: center;
    margin: auto;
    width: 310px;
    height: 250px;
    font-family: Calibri;
}

#text {
    font-weight: bold;
    color: #FF0312;
}
